.footer {

  padding-top: 80px;

    color:#4b4c4d;
  }
  
  .footer ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
    
  }
  .social a {
   padding: 5px;
    
  }
  
  .footer li {
    padding:0 10px;
  }
  
  .footer ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer ul a:hover {
    opacity:1;
    color: rgba(238,78,28,254);
  }
  
  .footer .social {
    text-align:center;
    padding-bottom:25px;
    
  }
  
  .footer .social > a {
    font-size:24px;
    width:50px;
    height:50px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer .social > a:hover {
    opacity:0.9;
    color: rgba(238,78,28,254) !important;
    border:1px solid rgba(238,78,28,254) !important;
  }
  
  .footer .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  
  }

  .copyright p {
    font-size: small;
    font-weight: 100;
    background-color: red;
    margin-bottom: 2px;

 
  }


