/* Modify the background color */
         
.navbar-custom {
    background-color: rgb(0, 0, 0) !important;
    
}

.logo img {
    height: 50px;

}

.dropdown-toggle {
    color: white !important;

}
.dropdown-item a{
    color: white !important;
    text-decoration: none;

}
.navbar-toggler {
    color: white !important;
    
}
.navbar-toggler-icon {
    color: white !important;
}
