h1 {
    color: rgba(238,78,28,254) !important;
    padding: 5px !important;
    
}

h3 {
    color: rgba(238, 78, 28, 254) !important;
    padding: 5px !important;
}

h3.descriptionHeader {
    font-size: 22px;
    color: rgba(238, 78, 28, 254) !important;
    padding: 5px !important;
}
img {
    border-radius: 5%;
   
}