    
.reviewContainer {
   
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    grid-template-rows: 1fr;
    margin-right:auto;
    margin-left: auto;
    border: 1px rgb(148, 148, 148) solid;
    width: 95vw;
    max-width: 800px;
    min-height: 500px; 
}
.image-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.image {
    height: 300px;
    width: 300px;
}
.title {
    color: rgb(198, 71, 8);
    font-weight: 500;
    padding: 10px;
}
.item-info-container {
    font-weight: 600;
    margin-top: 20px; 
    height: auto;
    min-width: 300px;
    color: white;
    width: 200px;
}
    
    
    
.title-description-container {
    font-weight: 200;
    color: rgb(181, 181, 181);
    text-align: justify;
    padding: 10px;
}
.title-description-container p {
    font-size: medium;
}
.date {
    text-align: left;
    color: white;
    font-size: medium;
}
.item-info-container ul {
    list-style-type:none;
}
.info-list {
    font-weight: 200;
    list-style: none;
    text-align: left;
}