




.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 90vw;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;

}
.grid-item img {
  height: 300px;
  border-radius: 10%;
  opacity: 0.8;

}
.grid-item img:hover {
  transition: 250ms;
  opacity: 1;
}
.grid-item {
  margin: 10px;
  height: 300px;
  width: 300px;
  border-radius: 10px;
}
.searchInput {
  padding: 5px;
  margin: 10px;
}


